*{
    margin: 0;
    box-sizing: border-box;
}
.container{
    height:100vh;
    object-position: center;
    background-image: url("girl.png");
    background-size: cover;
    background-repeat: no-repeat;
    display: grid;
    justify-items: center;
    align-items: flex-end;

}


.form-container{
    display: grid;
    height: 70%;
    width: 100%;
    background-color: #cccccc;
    text-align: center;
    opacity: 50%;
    justify-items: center;
    position: relative;
}
form{
    /*padding: .5rem;*/
    /*border: 2px solid black;*/
    text-align: center;
}
.form-container h1, h4 {
    font-size: 1rem;
    text-align: center;
    font-weight: 600;
    z-index: 2;
}
.form-container h4{
    width: 80%;
}
.form-container h1{
    padding-top: 5rem;
    width: 50%;
}
#tarpas{
    padding-top: 0.5rem;
}
form button{
    width: 10rem;
    height: 2rem;
    margin-top: 1rem;
    font-weight: 600;
}
form input{
    text-align: center;
    font-weight: 600;
    display: block;
    margin-top: 1rem;
}

/*.container div:nth-child(1){*/
/*    background-color: #cccccc;*/
/*    opacity: 0.5;*/
/*}*/

@media screen and (min-width: 480px){
    .container{

        background-image: url("girl2.png");
        background-size: cover;
        background-repeat: no-repeat;
        align-items: center;
    }
    .form-container{
        display: grid;
        height: 60%;
        width: 100%;
        background-color: #cccccc;
        text-align: center;
        opacity: 50%;
        position: relative;
    }
    .form-container h1 {
        text-align: left;
        padding-left: 2rem;
        font-size: 2rem;
        width: 90%;
        font-weight: 600;
    }
    .form-container h4 {
        text-align: left;
        padding-left: 2rem;
        font-size: .8rem;
    }
    form{
        width: 80vw;
        display: grid;
        grid-template-rows: repeat(3, 1fr);
        grid-template-columns:repeat(2,1fr);

    }
    form input{
        border-style: none;
    }
    #first_name{
        grid-area:1/1/1/2;
        text-align: left;
    }
    #second_name{
        text-align: left;
        grid-area: 1/2/1/3;
    }
    #email{
        text-align: left;
        grid-area: 2/1/2/3;
    }
    #button{
        grid-area: 3/1/3/3;

    }
    }
@media screen and (min-width: 1024px) {
    .container {
        background-image: url("girl3.png");
        background-size: cover;
        background-repeat: no-repeat;

    }
    .form-container{
        opacity: 1;
        background: none;
        display: grid;
        justify-items: left;
    }
    form input{
        font-size: 1rem;
    }
    .form-container h1 {
        text-align: left;
        padding-left: 2rem;
        font-size: 2vw;

        font-weight: 600;
    }
    .form-container h4 {
        text-align: left;
        font-size: .9vw;
        width: 90%;
    }
    form{
        width: 40%;
        height: 100%;
        margin-left: 2rem;

    }
    form button{
       background-color: whitesmoke;
        border: none;
    }
}